:host ::ng-deep {
  .spinner {
    height: 2rem !important;
    width: 2rem !important;
  }

  #spinnerLoading .p-dialog-content {
    padding: 10px 35px !important;
    border-radius: 10px !important;
  }
}
